In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Save file path to variable
data20172 = "2017.2.csv"
data20173 = "2017.3.csv"
data20174= "2017.4.csv"
data20181= "2018.1.csv"
data20182= "2018.2.csv"
data20183 = "2018.3.csv"
data20184 = "2018.4.csv"
data20191= "2019.1.csv"

In [3]:
# Read with Pandas
pokemon_pd = pd.read_csv(data20172)
pokemon_pd.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/2017,23849,67299,210739,767,43
1,4/2/2017,39779,130087,210915,3639,58
2,4/3/2017,43484,104217,211075,970,68
3,4/4/2017,29990,63091,211171,183,23
4,4/5/2017,47635,108281,211310,1192,59

In [8]:
#pokemon_pd.info
pokemon_pd =pokemon_pd.append(pd.read_csv(data20173))

In [9]:
pokemon_pd=pokemon_pd.append(pd.read_csv(data20174))
pokemon_pd=pokemon_pd.append(pd.read_csv(data20181))
pokemon_pd=pokemon_pd.append(pd.read_csv(data20182))
pokemon_pd=pokemon_pd.append(pd.read_csv(data20183))
pokemon_pd=pokemon_pd.append(pd.read_csv(data20184))
pokemon_pd=pokemon_pd.append(pd.read_csv(data20191))

In [ ]:
# Create new table
pokemon_type = pokemon_pd[["Type 1", "HP", "Attack",
                           "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
pokemon_type.head()

In [10]:
pokemon_pd.info

<bound method DataFrame.info of          Date  Trips over the past 24-hours (midnight to 11:59pm)  \
0    4/1/2017                                              23849
1    4/2/2017                                              39779
2    4/3/2017                                              43484
3    4/4/2017                                              29990
4    4/5/2017                                              47635
5    4/6/2017                                              18020
6    4/7/2017                                              35779
7    4/8/2017                                              35936
8    4/9/2017                                              43895
9   4/10/2017                                              50422
10  4/11/2017                                              57309
11  4/12/2017                                              51188
12  4/13/2017                                              52915
13  4/14/2017                                              52230
14  4/15/2017                                              42531
15  4/16/2017                                              48137
16  4/17/2017                                              53247
17  4/18/2017                                              53809
18  4/19/2017                                              45788
19  4/20/2017                                              44260
20  4/21/2017                                              39868
21  4/22/2017                                              34596
22  4/23/2017                                              49106
23  4/24/2017                                              48692
24  4/25/2017                                              20332
25  4/26/2017                                              37727
26  4/27/2017                                              52035
27  4/28/2017                                              62199
28  4/29/2017                                              57701
29  4/30/2017                                              42928
..        ...                                                ...
1    1/2/2019                                              38249
2    1/3/2019                                              42181
3    1/4/2019                                              44420
4    1/5/2019                                              17636
5    1/6/2019                                              31764
6    1/7/2019                                              36928
7    1/8/2019                                              41728
8    1/9/2019                                              44882
9   1/10/2019                                              39449
10  1/11/2019                                              33196
11  1/12/2019                                              25431
12  1/13/2019                                              23020
13  1/14/2019                                              35408
14  1/15/2019                                              39538
15  1/16/2019                                              40854
16  1/17/2019                                              39417
17  1/18/2019                                              34478
18  1/19/2019                                              23933
19  1/20/2019                                              14440
20  1/21/2019                                              10392
21  1/22/2019                                              28913
22  1/23/2019                                              42028
23  1/24/2019                                              20328
24  1/25/2019                                              39298
25  1/26/2019                                              26607
26  1/27/2019                                              30338
27  1/28/2019                                              36172
28  1/29/2019                                              31353
29  1/30/2019                                              25489
30  1/31/2019                                              18879

    Miles traveled today (midnight to 11:59 pm)  \
0                                         67299
1                                        130087
2                                        104217
3                                         63091
4                                        108281
5                                         44411
6                                         81358
7                                        108886
8                                        137240
9                                        124356
10                                       150222
11                                       113959
12                                       131228
13                                       149382
14                                       134526
15                                       157912
16                                       127619
17                                       126129
18                                        97587
19                                       108427
20                                        92348
21                                       101444
22                                       142563
23                                       103241
24                                        47829
25                                        81859
26                                       122394
27                                       163665
28                                       180290
29                                       125305
..                                          ...
1                                         58975
2                                         62500
3                                         65739
4                                         24326
5                                         50481
6                                         52310
7                                         60469
8                                         63480
9                                         53225
10                                        44226
11                                        35133
12                                        33018
13                                        48021
14                                        54751
15                                        56553
16                                        53430
17                                        47215
18                                        34580
19                                        19131
20                                        11911
21                                        37788
22                                        59442
23                                        27931
24                                        54567
25                                        38634
26                                        48280
27                                        49109
28                                        42066
29                                        33178
30                                        22941

    Total Annual Members (All Time)  \
0                            210739
1                            210915
2                            211075
3                            211171
4                            211310
5                            211362
6                            211440
7                            211589
8                            211806
9                            212050
10                           212298
11                           212484
12                           212648
13                           212812
14                           212950
15                           213172
16                           213385
17                           213580
18                           213703
19                           213819
20                           213913
21                           214028
22                           214278
23                           214462
24                           214552
25                           214654
26                           214793
27                           214965
28                           215219
29                           215455
..                              ...
1                            297908
2                            297976
3                            298017
4                            298048
5                            298094
6                            298152
7                            298218
8                            298263
9                            298299
10                           298331
11                           298361
12                           298399
13                           298439
14                           298470
15                           298510
16                           298546
17                           298574
18                           298595
19                           298616
20                           298632
21                           298665
22                           298692
23                           298721
24                           298748
25                           298778
26                           298828
27                           298878
28                           298919
29                           298947
30                           298975

    24-Hour Passes Purchased (midnight to 11:59 pm)  \
0                                               767
1                                              3639
2                                               970
3                                               183
4                                              1192
5                                                67
6                                               456
7                                              2719
8                                              4390
9                                              2164
10                                             2699
11                                             1493
12                                             2388
13                                             3451
14                                             3981
15                                             6143
16                                             2019
17                                             1624
18                                              738
19                                             1065
20                                             1194
21                                             5173
22                                             4541
23                                             1143
24                                              201
25                                              595
26                                             1412
27                                             2963
28                                             5699
29                                             2921
..                                              ...
1                                              1062
2                                               969
3                                              1173
4                                               462
5                                              1711
6                                               514
7                                               654
8                                               646
9                                               478
10                                              465
11                                              772
12                                              700
13                                              402
14                                              511
15                                              513
16                                              463
17                                              542
18                                              865
19                                              368
20                                              141
21                                              315
22                                              526
23                                              260
24                                              621
25                                              933
26                                             1510
27                                              448
28                                              341
29                                              263
30                                              186

    3-Day Passes Purchased (midnight to 11:59 pm)
0                                              43
1                                              58
2                                              68
3                                              23
4                                              59
5                                              12
6                                              43
7                                              83
8                                             114
9                                             139
10                                            135
11                                            108
12                                            129
13                                            273
14                                            235
15                                            361
16                                            234
17                                            194
18                                             55
19                                            172
20                                            129
21                                            102
22                                            420
23                                            123
24                                             36
25                                            109
26                                            266
27                                            458
28                                            562
29                                            340
..                                            ...
1                                              36
2                                              31
3                                              33
4                                               8
5                                              31
6                                              18
7                                              23
8                                              23
9                                              13
10                                             23
11                                             26
12                                             18
13                                              9
14                                             19
15                                              7
16                                             14
17                                             27
18                                             28
19                                              8
20                                              5
21                                             14
22                                             10
23                                              7
24                                             21
25                                             18
26                                             19
27                                             13
28                                             12
29                                              8
30                                              8

[671 rows x 6 columns]>

In [ ]:
# Create the GroupBy object based on the "Type 1" column
pokemon_group = pokemon_type.groupby(["Type 1"])

# Calculate averages for combat stats using the .mean() method
pokemon_comparison = pokemon_group.mean()
pokemon_comparison

In [ ]:
# Total number of points
pokemon_comparison["Total"] = pokemon_comparison["HP"] + pokemon_comparison["Attack"] + pokemon_comparison["Defense"] + \
    pokemon_comparison["Sp. Atk"] + \
    pokemon_comparison["Sp. Def"] + pokemon_comparison["Speed"]

pokemon_comparison["Total"]

In [ ]:
# Sort by strongest Pokemon, and reset index
strongest_pokemon = pokemon_comparison.sort_values(["Total"], ascending=False)
strongest_pokemon.reset_index(inplace=True)
strongest_pokemon

In [13]:
# Save output to Excel
pokemon_pd.to_csv("24Mo_Compiled_Citibike_Data.csv", index=False)

In [ ]:
pokemon_pd